li {
    padding-bottom: 20px;
}

li :last-child {
    padding-bottom: 0;
}
.username {
    color: #657786;
    
}
.postInfo{
    
    align-items: center;
    
    margin: auto 12px;
    
}

.postHeader{
    display: flex;
    margin-bottom: 12px;
}

.userIcon {
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    -moz-border-radius:25px; /* or 50% */
    border-radius: 251px; /* or 50% */

    background-color: #657786;
    color: white;
    text-align: center;
    font-size: 1.4em;
}