li {
    padding-bottom: 1.5rem;
}

li :last-child {
    padding-bottom: 0;
}
.username {
    color: #657786;
    
}
.postInfo{
    margin: auto 1rem;
    max-width: 70%;
}

.postHeader{
    display: flex;
    margin-bottom: 12px;
}

.userIcon {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    -moz-border-radius:25px; /* or 50% */
    border-radius: 251px; /* or 50% */
    background-color: #657786;
    color: white;
    text-align: center;
    font-size: 1.4em;
}